<table>
  <thead>
    <tr>
      <td>1</td>
      <td>2</td>
      <td>3</td>
      <td>4</td>
      <td>5</td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @sheets.each do |sheet| %>    
        <td><%= sheet.column.to_s + sheet.row %></td>
      <% end %>
    </tr>
  </tbody>
</table>